html {
    text-align: center;
    margin: auto;
    background-color: #E9ECEF;
}

#loader-id {
    margin: auto;
    margin-top: 25vh;
    box-sizing: border-box;
    padding: 10vh;
    width: 32vw;
    height: 50vh;
}

.loader {
    margin: auto;
    align-self: center;
    border: 20px solid #6C757D;
    border-top: 20px solid #343A40;
    border-radius: 50%;
    width: 13vh;
    height: 13vh;
    animation: spin 1.1s linear infinite, blink 0.8s steps(2, start) infinite;
}

p {
    font-family: Roboto, sans-serif;
    align-self: center;
    font-size: 3vh;
    color: #1b1c25;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}