body {
    margin: 0;
    background-color: #E9ECEF;
    width: 250px;
    height: 300px;
}

header {
    height: 40px;
    background-color: #343A40;
}

.header-buttons, .header {
    display: inline-block;
    vertical-align: top;
}

.header-buttons {
    color: white; 
    
    font-size: 15px;
    text-decoration: solid;

    background-color: #6C757D;

    margin-top: 5.5px;
    margin-left: 5.5px;
    
    height: 25.5px;
    width: 25.5px;

    border: 2px rgba(255, 255, 255, 10);
    border-radius: 3px;
}

#optionsButtonIcon {
    margin-top: 1.5px;
    margin-left: -3.5px;
}

.header-buttons:hover {
    cursor: pointer;

    color: rgba(255, 255, 255, 0.74);

    box-shadow: inset 0 0 0 0.3px #343A40;
    transition: all 0.2s;
}

#optionsButtonIcon:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px #343A40);
    transition: all 0.2s;
}

.header {
    font-size: 16px;
    margin-top: 7px;
    margin-left: 105.5px;
    color: rgb(255, 255, 255);
}

#name {
    margin-top: 40px;

    text-align: center;

    font-size: 19.5px;
}

main {
    margin-top: 25px;
}

.main-btn {
    display: block;
    background-color: #343A40;

    width: 190px;
    height: 45px;

    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

    color: white;
    text-align: center;

    border: 2px rgba(255, 255, 255, 10);
    border-radius: 3px;
}

.main-btn:hover {
    cursor: pointer;

    background-color: #343A40;
    color: rgba(255, 255, 255, 0.763);

    box-shadow: inset 0 0 0 0.5px #E9ECEF;
    transition: all 0.2s;
}