@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url("../../fonts/Roboto-Bold.woff2");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url("../../fonts/Roboto-Medium.woff2");
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url("../../fonts/Roboto-Regular.woff2");
    font-display: swap;
    font-style: normal;
}

/*reset styles*/
* {
    padding: 0;
    margin: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

::-webkit-scrollbar {
    color: #334251;
}

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

::placeholder {
    color: white;
    padding-left: 0.3vh;
}

option {
    background-color: #6d6866;
    border: 0.3vh solid #334251;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background: transparent none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

body {
    font-family: Roboto, sans-serif;
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #4f745e;
    height: 100vh;
}

header {
    display: flex;
    text-align: center;
    margin-left: 40vw;
    /* justify-content: center; */
    align-items: center;
    height: 70px;
    font-size: 32px;
}

header a {
    color: #ffffff;
}

.access-tabs-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: #4f745e;
    width: 100%;
}

section li {
    margin-inline: 25px;
}

section button {
    text-transform: uppercase;
    font-weight: 500;
    transition-duration: 0.3s;
}

section button:hover {
    color: #6d6866;
}

.active {
    color: white;
}

#name {
    text-align: center;
    text-shadow: -0.2vw 0.2vh #1b1c25;
    font-size: 5vh;
    margin-left: -3vw;
}

/* Раздел белый список */

.url-list {
    position: fixed;
    display: flex;
    height: 64vh;
    box-sizing: border-box;
    overflow-y: auto;
    width: 90vw;
    padding: 2vh;
    margin-top: 1.7vh;
    margin-left: 10.4vh;
    border: 5px solid #b7a56c;
    background-color: #818656;
    box-shadow: -0.4vw 0.8vh #1b1c25;
    border-radius: 5px;
    max-width: 90vw;
}

#white-list-finder {
    display: flex;
    align-items: flex-start;
    padding-left: 0.5vw;
    margin-left: 73.65vw;
    width: 20vw;
    height: 4.3vh;
    font-size: 2vh;
    margin-top: 2.65vh;
    padding-left: 0.5vw;
    background-color: #6d6866;
    border: 0.3vh solid #334251;
    box-shadow: inset -0.2vw 0.4vh #1b1c25;
    text-shadow: -0.12vw 0.1vh #1b1c25;
    border-radius: 5px;
}

#white-list-adder {
    position: fixed;
    display: flex;
    align-items: flex-start;
    margin-left: 15vw;
    margin-top: 68.2vh;
    width: 25vw;
    height: 5vh;
    font-size: 2.4vh;
    padding-left: 0.5vw;
    background-color: #818656;
    border: 0.1vh solid #334251;
    box-shadow: inset -0.2vw 0.4vh #1b1c25;
    text-shadow: -0.12vw 0.1vh #1b1c25;
    border-radius: 5px;
}

#white-list-adder-save-btn {
    position: absolute;
    display: flex;
    padding: 1vh 2vw 1vh 2vw;
    margin-left: 42vw;
    margin-top: 68vh;
    font-size: 2vh;
    background-color: #818656;
    border: 0.3vh solid #334251;
    box-shadow: -0.15vw 0.4vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

.white-list-item {
    justify-content: space-between;
    display: flex;
    height: 2vh;
    padding: 4vh;
    margin-bottom: 2vh;
    align-items: center;
    text-transform: none;
    font-size: 2.4vh;
    border: 3px solid #b7a56c;
    box-shadow: -0.2vw 0.6vh #1b1c25;
    border-radius: 5px;
    max-width: 100%;
    min-width: 90%;
}

.white-list-item-text {
    display: flex;
    max-width: 60vw;
    text-overflow: ellipsis;
    text-shadow: -0.12vw 0.1vh #1b1c25;
    white-space: pre-wrap;
}

.delete-btn {
    position: relative;
    display: flex;
    padding: 2vh;
    background-color: #6d6866;
    border: 0.3vh solid #334251;
    text-shadow: -0.12vw 0.1vh #1b1c25;
    border-radius: 5px;
}

/* Кнопки Белый лист и истроия блокировок */
#white-list-btn {
    display: flex;
    padding: 2vh;
    margin-left: 1vh;
    font-size: 3vh;
    background-color: #b7a56c;
    border: 3px solid #C2C3C5;
    box-shadow: -0.2vw 0.6vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

#history-btn {
    display: flex;
    padding: 2vh;
    font-size: 3vh;
    background-color: #b7a56c;
    box-shadow: -0.2vw 0.6vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

/* Раздел истории блокировок */
.history-table {
    margin: auto;
    align-items: center;
    flex-direction: column;
    position: fixed;
    display: flex;
    height: 64vh;
    box-sizing: border-box;
    overflow-y: auto;
    width: 90vw;
    padding: 2vh;
    font-size: 3vh;
    margin-top: 1.7vh;
    margin-left: 10.4vh;
    border: 5px solid #b7a56c;
    background-color: #818656;
    box-shadow: -0.4vw 0.8vh #1b1c25;
    border-radius: 5px;
    max-width: 90vw;
}

#history-search {
    background-color: #6d6866;
    display: flex;
    align-items: flex-start;
    padding-left: 0.5vw;
    margin-left: 73.65vw;
    width: 20vw;
    height: 4.3vh;
    font-size: 2vh;
    margin-top: 2.65vh;
    border: 0.3vh solid #334251;
    box-shadow: inset -0.2vw 0.4vh #1b1c25;
    text-shadow: -0.12vw 0.1vh #1b1c25;
    border-radius: 5px;
}

#history-sort {
    position: absolute;
    display: flex;
    padding: 0.2vh;
    margin: 1vh 0 0 5vw;
    font-size: 2vh;
    cursor: pointer;
    background-color: #6d6866;
    border: 0.3vh solid #334251;
    box-shadow: -0.15vw 0.4vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

#history-reason-sort {
    position: absolute;
    display: flex;
    padding: 0.2vh;
    margin: 1vh 0 0 16vw;
    font-size: 2vh;
    cursor: pointer;
    background-color: #6d6866;
    border: 0.3vh solid #334251;
    box-shadow: -0.15vw 0.4vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

#download-selection-sort {
    position: absolute;
    display: flex;
    padding: 0.1vw;
    margin-top: 72.5vh;
    margin-left: 50vw;
    font-size: 3vh;
    cursor: pointer;
    background-color: #818656;
    border: 0.3vh solid #334251;
    box-shadow: -0.15vw 0.4vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

#history-clear-btn {
    position: absolute;
    display: flex;
    padding: 2vh 2vw 2vh 2vw;
    margin-top: 67vh;
    margin-left: 30vw;
    font-size: 2vh;
    border: 0.3vh solid #334251;
    background-color: #6d6866;
    box-shadow: -0.15vw 0.4vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

button:active {
    filter: brightness(90%);
}

#history-download-btn {
    position: absolute;
    display: flex;
    padding: 2vh 2vw 2vh 2vw;
    margin-top: 67vh;
    margin-left: 56.5vw;
    font-size: 2vh;
    border: 0.3vh solid #334251;
    background-color: #818656;
    box-shadow: -0.15vw 0.4vh #1b1c25;
    text-shadow: -0.1vw 0.1vh #1b1c25;
    border-radius: 5px;
}

.history-table thead {
    width: 100%;
}

.history-table thead tr {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.history-table tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: none;
    width: 100%;
    min-height: 8vh;
    height: auto;
    background-color: #818656;
}

.history-table thead tr th {
    margin-inline: 25px;
    flex: 1;
}

.history-table thead tr th:first-child {
    text-align: left;
}

.history-table thead tr th:last-child {
    text-align: right;
}

.history-table tbody {
    width: 100%;
    background-color: #818656;
}

.history-table td {
    margin-inline: 25px;
    flex: 1;
}

.history-table-url {
    text-align: center;
    font-size: 2.4vh;
}

.history-table-data {
    text-align: left;
}

.history-table-reason {
    text-align: right;
}

.history-table-url,
.history-table-data,
.history-table-reason {
    word-wrap: break-word;
    word-break: break-all;
}

@media (max-width: 650px) {
    .history-table tr {
        flex-wrap: wrap;
    }

    .history-table-url,
    .history-table-data,
    .history-table-reason {
        flex-basis: 100%;
    }
}