html {
  background-color: #4f745e;
}

body {
  margin: auto;
}

.content {
  text-align: center;
}

#div-content {
  margin: auto;
  box-sizing: border-box;
  width: 50vw;
  height: auto;
  background-color: #818656;
  border: 0.3vh solid #334251;
  border-radius: 5px;
  box-shadow: -0.2vw 0.6vh #1b1c25;
}

#header {
  margin: 0 1vw 0 1vw;
}

h1 {
  font-size: 2.5vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

img {
  margin: 10vh auto 0;
  height: 25vh;
  width: 25vh;
}

#readMore {
  position: relative;
  left: 3px;
  text-decoration: underline solid;
  color: #1b1c25;
  cursor: pointer;
}

#description-div {
  margin: 2px;
}

#description {
  text-align: left;
  width: 50%;
  margin: 0 auto;
  display: block;
  color: #1b1c25;
}

button {
  font-weight: bold;
  font-size: 1.05em;
  border-radius: 3px;
  min-height: fit-content;
  min-width: fit-content;
  border: 0;
  padding: 8px 16px;
  background-color: #b7a56c;
  border: 0.3vh solid #334251;
  border-radius: 5px;
  box-shadow: -0.2vw 0.6vh #1b1c25;
  margin-right: 1vw;
}

.buttons {
  margin: 2vh auto 2vh auto;
  max-width: 50vw;
  cursor: pointer;
}

.rightbuttons {
  float: right;
}

.leftbuttons {
  float: left;
  margin: auto 20px 8px;
}

.reasonBlock {
  display: inline-block;
}